In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="whitegrid", color_codes=True)

In [7]:
data = pd.read_csv('Body.txt')
data.shape

(27479, 97)

In [15]:
data_one = data.loc[data['id']==1772326099096]

In [16]:
data_one.shape

(1448, 97)

In [17]:
data_one.head()

,time,id,class_id,x,y,z,vx,vy,vz,ax,...,sigma_83,sigma_84,sigma_85,sigma_86,sigma_87,sigma_88,x_pattern,y_pattern,z_pattern,pattern
280,2.16,1772326099096,7,-1.355,0.250,-9.071,0.000,0.000,15.431,0.000,...,0.0,0.0,0.0,0.000,400.000,10001.000,-1.355,0.250,-17.442,1772326099040
287,2.20,1772326099096,7,-1.330,0.240,-5.190,0.106,-0.041,26.688,0.003,...,0.0,0.0,0.0,9.528,772.512,10001.238,-1.293,0.226,-17.030,1772326099040
294,2.24,1772326099096,7,-1.295,0.223,-2.367,0.254,-0.122,30.576,0.012,...,0.0,0.0,0.0,25.008,1085.876,9997.182,-1.253,0.199,-16.797,1772326099040
301,2.28,1772326099096,7,-1.250,0.194,-0.412,0.402,-0.236,27.736,0.025,...,0.0,0.0,0.0,42.348,1332.720,9983.690,-1.209,0.162,-16.536,1772326099040
308,2.32,1772326099096,7,-1.201,0.155,0.676,0.496,-0.349,21.448,0.038,...,0.0,0.0,0.0,59.367,1529.697,9956.296,-1.174,0.122,-16.384,1772326099040

In [18]:
data_one.tail()

,time,id,class_id,x,y,z,vx,vy,vz,ax,...,sigma_83,sigma_84,sigma_85,sigma_86,sigma_87,sigma_88,x_pattern,y_pattern,z_pattern,pattern
27320,59.88,1772326099096,7,-69.064,-108.923,-487.930,-2.704,-3.365,-17.391,-0.053,...,0.0,0.0,0.0,990078.684,48369.546,1562.6,0.0,0.0,0.0,0
27353,59.92,1772326099096,7,-69.172,-109.058,-488.626,-2.706,-3.367,-17.403,-0.053,...,0.0,0.0,0.0,992013.465,48432.050,1563.6,0.0,0.0,0.0,0
27386,59.96,1772326099096,7,-69.280,-109.193,-489.322,-2.708,-3.369,-17.416,-0.053,...,0.0,0.0,0.0,993950.747,48494.594,1564.6,0.0,0.0,0.0,0
27419,60.00,1772326099096,7,-69.389,-109.327,-490.019,-2.710,-3.371,-17.428,-0.053,...,0.0,0.0,0.0,995890.531,48557.178,1565.6,0.0,0.0,0.0,0
27452,60.04,1772326099096,7,-69.497,-109.462,-490.716,-2.713,-3.373,-17.441,-0.053,...,0.0,0.0,0.0,997832.818,48619.802,1566.6,0.0,0.0,0.0,0